<div class="gallery_top">
	<ul>
		<% if @active < @flowers.size %>
			<li><%= link_to prev_flowers_url, id:"prev" do %><button class="btn-large prev">-</button><% end %>
		<% else %>
			<button class="btn-large prev">-</button>
		<% end %>
	<% @flowers[(@range * 10)..((@range + 1) * 10 - 1)].each do |flower| %>
		<li><%= link_to skip_to_flower_url(flower) do %>
			<img src=<%= flower.url %> alt="Flower" height="100" width="100" id=<%= "active" if flower.id == @active %>><% end %>
		</li>
	<% end %>
	<% if @active > 1 %>
		<li><%= link_to next_flowers_url, id:"next" do %><button class="btn-large next">+</button><% end %>
	<% else %>
		<button class="btn-large next">+</button>
	<% end %>
	</ul>
</div>

<div class="gallery_display">
	<%= render "display_flower" %>
</div>