<article class="recent_pictures_container">

<% if @user == current_user %>
	<h3>Recently Added Pictures</h3>
	<%= render "recent_pictures" %>
</article>
	<button id="add_picture_link">
		<%= link_to new_flower_path do %>+<% end %>
	</button>

<% else %>

<h3><%= @user.username %>'s Recently Added Pictures</h3>
	<%= render "recent_pictures" %>
	</article>
	<aside class="user_contact_and_portfolio">
		<h4>Contact:</h4>
		<p>You can reach <%= @user.username %> at <%= @user.email %></p>
		<%= link_to "Check out their portfolio", "/users/#{@user.id}/portfolio" %>
	</aside>

<% end %>
