<!-- Create a form for any model which requries text fields only
		 object is model, categories is array of hashes with variable and text placeholders -->
<%= form_for object do |f| %>
	<% categories.each do |cat| %>
		<% if cat[:var].to_s.include? "password" %>
			<%= f.password_field cat[:var], placeholder: cat[:placeholder] %>
		<% else %>
			<%= f.text_field cat[:var], placeholder: cat[:placeholder] %>
		<% end %>
	<% end %>
	<% if object.respond_to? :errors %>
		<% if object.errors.any? %>
			<div id="error">
				<%= object.errors.full_messages.first %>
			</div>
		<% end %>
	<% end %>
	<%= f.submit value: "+", class: "btn-large" %>
<% end %>