<!DOCTYPE html>
<html>
<head>
  <title>Rainforest2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Croissant+One|Berkshire+Swash|Cherry+Swash' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class = "navbar navbar-fixed-top">
		<nav class ="navbar inner">
			<ul class="nav">
				<li><%= link_to "Home", root_url %>
				<li><%= link_to "Gallery", flowers_url %>
				<% if current_user %>
					<li><%= link_to "Logout", session_url("doesntmatter"), method: :delete %></li>
				<% else %>
					<li><%= link_to "Login", new_session_path %></li>
					<li><%= link_to "Signup", new_user_path %></li>
				<% end %>
			</ul>
		</nav>
	</header>

<%= yield %>

</body>
</html>
